@use '../../_css/queries.scss' as *;

$spacer-h: calc(var(--block-padding) / 2);

.callToAction {
  padding-left: $spacer-h;
  padding-right: $spacer-h;
  position: relative;
  background-color: var(--theme-elevation-100);
  color: var(--theme-elevation-1000);
}

:global([data-theme="dark"]) {
  .callToAction {
    background-color: var(--theme-elevation-0);
    color: var(--theme-elevation-1000);
  }
}

.invert {
  @apply bg-secondary text-white prose-headings:text-white prose-p:text-white;
}

:global([data-theme="dark"]) {
  .invert {
    background-color: var(--theme-elevation-900);
    color: var(--theme-elevation-0);
  }
}

.wrap {
  display: flex;
  gap: $spacer-h;
  align-items: center;

  @include mid-break {
    flex-direction: column;
    align-items: flex-start;
  }
}

.linkGroup {
  @apply flex flex-col items-center space-y-4;

  a,
  button {
    @apply w-full;
  }

  @screen md {
    @apply flex-row justify-end space-y-0 space-x-4;

    a,
    button {
      @apply w-[inherit];
    }
  }
}
