.service {
  @apply relative py-24 bg-secondary;
}

.subtitle {
  @apply relative inline-block mb-8 pl-6 text-lg text-white;

  &::before {
    @apply top-[6px] left-0 size-4 rounded-full absolute bg-primary;

    content: "";
  }
}

.title {
  @apply mb-12 text-white text-5xl leading-[1.2] font-bold;
}

.button {
  @apply py-6 pl-8 relative inline-flex items-center text-white whitespace-nowrap;

  &::before {
    @apply size-16 absolute left-0 top-1/2 -translate-y-1/2 rounded-full bg-primary;

    content: "";
    transition: all .6s ease-in-out;
  }

  svg {
    @apply ml-3;
  }

  >* {
    @apply relative z-20;
  }

  &:hover {
    @apply text-white;

    &::before {
      @apply size-8 -ml-6 left-full;
    }
  }
}

.cards {
}
